html,
body {
    scroll-behavior: smooth;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    color: #252e33;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
  }

footer[data-v-429e21cc] {
    background: #141618;
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 50px 8vw 30px;
}

footer div[data-v-429e21cc],footer hr[data-v-429e21cc] {
    margin-bottom: 30px
}

footer hr[data-v-429e21cc] {
    opacity: .1
}

footer .site-links[data-v-429e21cc],footer p[data-v-429e21cc] {
    margin-bottom: 30px
}

footer p[data-v-429e21cc] {
    opacity: .7
}

a[data-v-429e21cc],a[data-v-429e21cc]:active,a[data-v-429e21cc]:visited {
    text-decoration: none;
    color: #fff
}

[data-v-429e21cc],[data-v-429e21cc]:after,[data-v-429e21cc]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

li[data-v-429e21cc],p[data-v-429e21cc] {
    color: #b5b3b3;
    font-size: 18px;
    font-display: swap
}

li a[data-v-429e21cc],p a[data-v-429e21cc] {
    font-weight: 600;
    color: #fff
}
ul.site-links[data-v-429e21cc] {
    font-family: Gotham XNarrow A,Gotham XNarrow B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 3px;
    opacity: .8
}

li[data-v-6150acad],p[data-v-6150acad] {
  color: #b5b3b3;
  font-size: 18px;
  font-display: swap
}

li a[data-v-6150acad],p a[data-v-6150acad] {
  font-weight: 600;
  color: #fff
}

ul.site-links[data-v-6150acad] {
  font-family: Gotham XNarrow A,Gotham XNarrow B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-weight: 500;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 3px;
  opacity: .8
}

.site-links li[data-v-6150acad],.social-links svg[data-v-6150acad] {
  display: inline-block;
  padding-right: 15px
}

.site-links li[data-v-429e21cc],.social-links svg[data-v-429e21cc] {
    display: inline-block;
    padding-right: 15px
}
a[data-v-6150acad],a[data-v-6150acad]:active,a[data-v-6150acad]:visited {
  color: #fff
}
a[data-v-6150acad]:hover{
  color: crimson;
}

[data-v-6150acad],[data-v-6150acad]:after,[data-v-6150acad]:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0
}
.list-item[data-v-6150acad] {
  -webkit-transition: all 1s;
  transition: all 1s
}
.list-enter[data-v-6150acad],.list-leave-to[data-v-6150acad] {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px)
}

.list-leave-active[data-v-6150acad] {
  position: absolute
}
a[data-v-6150acad],a[data-v-6150acad]:active,a[data-v-6150acad]:visited {
  text-decoration: none;
  color: #b5b3b3;
  font-weight: 500!important
}

a[data-v-5543664c],a[data-v-5543664c]:active,a[data-v-5543664c]:visited {
  text-decoration: none;
  color: #fff
}

[data-v-5543664c],[data-v-5543664c]:after,[data-v-5543664c]:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0
}

.max-width{
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}
.home{
    display: flex;
    background: url("/Learning/img/bg.jpg") no-repeat center;
    opacity: 1;
    height: 90vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-weight: 600;
    font-size: 32px;
    color: #3399ff;
}
.home .home-content .text-2{
    color:#333399;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-weight: 600;
    color:#333399;
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-weight: bold;
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}


  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .hidden--desktop {
    display: none;
  }
  .hidden {
    display: none;
  }
  
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .newsbar {
    background-color: #ff951f;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.7rem 3% 1rem 3%;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1000;
  }
  
  .newsbar span {
    font-size: 2rem;
  }
  
  .newsbar a:link,
  .newsbar a:visited {
    display: inline-block;
    color: #546e7a;
    text-decoration: none;
    border-bottom: 1px solid #546e7a;
    transition: color 0.2s, border-bottom 0.2s;
  }
  
  .newsbar a:hover,
  .newsbar a:active {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  /**********
  * HEADER
  **********/
  
  .main-background {
    background-image: -webkit-linear-gradient(bottom left, #4ed8f7, #26afeb 70%);
    background-image: linear-gradient(to top right, #4ed8f7, #26afeb 70%);
    color: #f9fafa;
  }
  
  .master-header {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  
  .logo-box {
    padding: 2% 3%;
  }
  
  .logo-box__logo--codingheroes {
    height: 3.4rem;
    float: left;
    margin-top: 0.8rem;
  }
  
  .logo-box__logo--js {
    height: 4rem;
    float: right;
  }
  
  .master-header__box {
    max-width: 120rem;
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
  }
  
  .master-header__heading {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 90%;
    line-height: 1.4;
    margin-bottom: 5rem;
  }
  
  .optin {
    text-align: center;
  }
  
  .optin__text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .optin__form {
    background-color: #fff;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .optin__form input {
    background-color: #f9fafa;
    color: #38464d;
    font-size: 2rem;
    width: 30rem;
    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
    border: 1px solid transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
  }
  
  .optin__form input:focus {
    outline: none;
    border: 1px solid #ff951f;
  }
  
  .optin__form button {
    background-color: #ff951f;
    color: #f9fafa;
    border-radius: 0.5rem;
    padding: 1.2rem 2rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .optin-section {
    padding: 10rem 0;
  }
  /*********************
  * RESSOURCE NAVIGATION
  **********************/
  .group-nav {
    padding-top: 1.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .group-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .group-nav li {
    margin-right: 1.1rem;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .group-nav a:link,
  .group-nav a:visited {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #38464d;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f0f3f3;
    padding: 0.5rem 1.3rem;
    border-radius: 5rem;
    transition: all 0.3s;
  }
  
  .group-nav a:hover,
  .group-nav a:active {
    color: #fff;
    background-color: #26afeb;
  }
  
  .group-nav a:hover .group-nav--icon,
  .group-nav a:active .group-nav--icon {
    color: #fff;
  }
  
  .group-nav--icon {
    color: #26afeb;
    font-size: 1.9rem;
    margin-right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  .nav--new::after {
    font-size: 8px;
    display: inline-block;
    color: #f9fafa;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    margin-left: 1.5rem;
    position: absolute;
    top: -0.6rem;
    right: -0.7rem;
    content: 'NEW';
    background-color: #ec3853;
  }
  
  /**********
  * RESSOURCES
  **********/
  
  .group {
    padding: 7rem 0;
  }
  
  .group:nth-child(even) {
    background-color: #f9fafa;
  }
  
  .group__heading {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 7rem;
    text-align: center;
  }
  
  .group__heading--icon {
    color: #26afeb;
    font-size: 4rem;
    display: block;
    margin-bottom: 1rem;
  }
  
  /* NEW: CSS GRID */
  .container__resource {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
  }
  
  .resource__logo {
    display: block;
    height: 4rem;
    margin-bottom: 2rem;
    border-radius: 3px;
  }
  
  .resource__logo.squared {
    border-radius: 0;
  }
  
  .resource__logo--round {
    border-radius: 50%;
  }
  
  .resource__heading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .resource__heading--premium::after,
  .resource__heading--new::after {
    font-size: 8px;
    display: inline-block;
    color: #f9fafa;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    margin-left: 1.5rem;
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
  }
  
  .resource__heading--premium::after {
    content: 'PREMIUM';
    background-color: #ff951f;
  }
  
  .resource__heading--new::after {
    content: 'NEW';
    background-color: #ec3853;
  }
  
  .resource__link:link,
  .resource__link:visited {
    color: #26afeb;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  
  .resource__link:hover,
  .resource__link:active {
    color: #ff951f;
  }
  
  .resource__text {
    font-size: 1.6rem;
    line-height: 1.8;
  }
  
  /*********
  * FOOTER
  **********/
  
  footer {
    padding: 5rem 0;
  }
 
  
  .ion-ios-heart {
    color: #ff3030;
    margin: 0 2px;
  }
  
  .social-plugins {
    margin-top: 5rem;
    text-align: center;
  }
  
  #___plusone_0 {
    margin-top: 3px !important;
    margin-right: 30px !important;
    width: 65px !important;
  }
  
  .twitter-share-button {
    display: inline-block;
    margin-top: 0px;
    margin-right: 30px;
    vertical-align: top;
  }
  
  .fb-like {
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
  }
  
  /**********
  * MEDIA QUERIES
  **********/
  
  @media only screen and (max-width: 1024px) {
    .master-header__heading {
      font-size: 3.5rem;
      letter-spacing: 1px;
      width: 98%;
      line-height: 1.4;
      margin-bottom: 4rem;
    }
  }
  
  @media only screen and (max-width: 767px) {
    /* HEADER */
    .master-header__heading {
      font-size: 3rem;
      line-height: 1.3;
      margin-bottom: 4rem;
    }
  
    .logo-box {
      padding: 3% 4%;
    }
  
    .logo-box__logo--codingheroes {
      height: 2.5rem;
      float: left;
      margin-top: 0.6rem;
    }
  
    .logo-box__logo--js {
      height: 3rem;
      float: right;
    }
  
    .optin__form {
      display: block;
      width: 96%;
      margin-left: 2%;
    }
  
    .optin__form input {
      width: 37.5%;
    }
    .optin__form button {
      width: calc(25% - 1.6rem);
    }
  
    /* RESOURCES*/
    .group {
      padding: 4rem 0;
    }
    .group__heading {
      margin-bottom: 4rem;
    }
  
    .container__resource {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
    .resource__logo {
      height: 3rem;
      margin-bottom: 1rem;
    }
  
    .resource__heading {
      margin-bottom: 0.2rem;
    }
    .resource__text {
      line-height: 1.5;
    }
  }
  
  @media only screen and (max-width: 500px) {
    /* HEADER */
    .master-header {
      height: 100vh;
    }
  
    .master-header__box {
      top: 70%;
      -webkit-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
    }
  
    .logo-box {
      padding: 7%;
      text-align: center;
    }
  
    .logo-box__logo--codingheroes {
      height: 2.5rem;
      float: none;
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  
    .logo-box__logo--js {
      height: 3rem;
      float: none;
    }
  
    .optin__form input {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  
    .optin__form button {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .master-header__heading {
      font-size: 2.5rem;
      line-height: 1.1;
      margin-bottom: 3rem;
    }
  
    .logo-box__logo--codingheroes {
      height: 2rem;
      margin-bottom: 1rem;
    }
  
    .logo-box__logo--js {
      height: 2.4rem;
    }
  }